/* Sidebar styles */
.sidebar {
    background-color: #000000; /* Black sidebar background */
    color: #ffffff; /* White text color */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    display: flex;
    justify-content: center; /* Center content horizontally */
}

/* Sidebar button styles */
.button-link {
    display: inline-block;
    margin: 0 10px; /* Add spacing between buttons */
    text-decoration: none;
    color: #000000; /* Black text color */
    background-color: #ffcc00; /* Yellow button background */
    padding: 10px 20px;
    border-radius: 5px;
}

/* Content styles */
.content {
    margin-top: 100px; /* Adjusted for button height */
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 20px;
    background: #333333; /* Consistent footer color */
    color: #FFCD00;
    border-top: 5px solid #FFCD00; /* Stylish top border */
}

footer a {
    color: #FFCD00; /* Gold text for links */
    text-decoration: none; /* No underline */
    margin: 20 20px; /* Space out links */
}

footer a:hover {
    color: #FFFFFF; /* White color on hover for contrast */
}

footer i {
    margin-right: 5px; /* Space between icon and text */
}

.contact-info {
    margin-bottom: 10px; /* Space above the copyright text */
}