/* Sidebar styles */
.sidebar {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Sidebar button styles */
.button-link {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    background-color: #ffcc00;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Content styles */
.content {
    margin-top: 100px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 20px;
    background: #333333;
    color: #ffcd00;
    border-top: 5px solid #ffcd00;
}

footer a {
    color: #ffcd00;
    text-decoration: none;
    margin: 20px 20px; /* Added unit to margin */
}

footer a:hover {
    color: #ffffff;
}

footer i {
    margin-right: 5px;
}

.contact-info {
    margin-bottom: 10px;
}

.cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cookie-popup p {
    margin: 0;
}

.cookie-popup button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.cookie-popup button:hover {
    background-color: #45a049;
}

.image-container {
    text-align: center;
}

